# **A. Identifier**

Indentifier adalah nama yang mewakili sebuah objek/fungsi/data dengan aturan penulisan sebagai berikut:

- diawali dengan huruf A-Z atau a-z atau underscore (_)
> contoh: **A**ddress, **PHI**, **M**ahasiswa, **u**sername, **a**ge, **_**password, **__**NIK


- diikuti huruf, underscore, dan digit (0-9)
> contoh: player**11**, ______init**______**,

In [ ]:
# menyimpan nilai (sbg variabel)
PHI = 3.1415
orang2_ = "budi"
Age = 12
_status = "jomblo"
__NIK = 7308073721710001


print(__NIK) # ubah '__NIK' dengan identifier apa saja untuk meluhat hasilnya

12

<font color="yellow">
PENTING!!

Materi tentang **class**, **def (function)**, dan **import** berikut belum dibahas 👇👇👇 (hanya gambaran penggunaan identifier)

In [ ]:
# penggunaan identifier dalam mengimport library `mt`
import math as mt # 'mt' adalah identifier untuk library 'math'


# penggunaan identifier untuk menyimpan function `func_tambahkan`
def funct_tambahkan(a,b):
  return a+b


# identifier berbeda dapat merujuk ke objek yang sama `func_tambahkan` dan `jumlah` adalah sama
jumlah = funct_tambahkan # funct_tambah sekarang bisa dipanggil dengan identifier 'jumlah'

funct_tambahkan(5,5) # line 20 dan 21 code ini sama sama menghasilkan 10
jumlah(5,5) # sama saja dengan yang diatas


# penggunaan menyimpan class `Mahasiswa`
class Mahasiswa:
  nama = "Ichsan Takwa"
  NIM = "H071201058"
  prodi = "Sistem Informasi"
  angkatan = 2020
  def deskripsi(self):
    print(self.nama,self.NIM,self.prodi,self.angkatan)

Mhs = Mahasiswa # class 'Mahasiswa' sekarang dapat dipanggil dengan 'Mhs'
Mhs();  Mahasiswa() # adalah class yang sama

# menyimpan objek
ichsan = Mhs() # ichsan adalah identifier yang menyimpan objek/instance dari class Mahasiswa

print(ichsan.deskripsi()) # ubah '__NIK' dengan identifier apa saja untuk melihat hasilnya

Ichsan Takwa H071201058 Sistem Informasi 2020
None

<font color="yellow" size=4>
Note: Jika kamu sulit dalam memahami materi diatas, coba lagi setelah mempelajari materi class, function, dan import

## Latihan
Lengkapi kode berikut berdasarkan apa yang telah kamu pelajari sebelumnya.


Ingat!!! dalam menentukan identifier tidak terpaku pada nama tertentu, tiap programmer bisa saja memberikan identifier yang berbeda

contoh:

> import pandas as **pd**

> import pandas as **ps**

> import pandas as **pds**

In [ ]:
# berikan identifier untuk library berikut
import math as ...
import matplotlib.pyplot as ...
import pandas as ...

In [ ]:
# berikan identifier untuk variabel berikut
... = "John Cena"
... = "Jl. Hang Lekiu No.2, Sambau, Kecamatan Nongsa, Kota Batam, Kepulauan Riau 29465"
... = 34

In [ ]:
# berikan identifier untuk fungsi berikut
def ...(a,b):
  return a+b # menjumlahkan a dan b

def ...(a,b):
  return a-b # mengurangkan a dan b

def ...(a,b):
  return a*b # mengalikan a dan b

In [ ]:
# berikan identifier (Animal, Human, Car) untuk class berikut
class ...:
  def __init__(this):
    print("class Animal telah dibuat")

class ...:
  def __init__(this):
    print("class Human telah dibuat")

class ...:
  def __init__(this):
    print("class Car telah dibuat")



Animal()
Human()
Car()

class Car telah dibuat

# **B. Keyword**
kata-kata khusus yang memiliki arti dan tujuan tertentu dan tidak dapat digunakan untuk apa pun selain tujuan khusus tersebut

In [ ]:
if      # kondisi
else    # kondisi (jika tidak terpenuhi)
for     # perulangan
in      # keanggotaan
is      # operator logika (adalah)
not     # operator negasi (kebalikan)
True    # boolean (bernilai benar)
False   # boolean (bernilai salah)
pass    # placeholder (mengosongkan suatu blok yang nantinya akan diisi)
raise   # menimbulkan pesan error
while   # perulangan
try     # menguji blok kode
lambda  # fungsi anonim
# dsb...

# keyword diatas tidak dapat digunakan sebagai identifier / variabel

# **C. Comment**

* comment di python menggunakan simbol ' # ' kalimat di sebelah kanan simbol tsb merupakan bagian dari comment.
* comment berfungsi untuk memudahkan programmer memberi penjelasan pada program.
* pada saat program dijalankan comment tidak akan dibaca oleh sistem.

In [ ]:
# print("ini adalah comment")
# print("ini adalah comment")
# print("ini adalah comment")
# print("ini adalah comment")

print("ini bukan comment")

# print("ini adalah comment")
# print("ini adalah comment")

ini bukan comment

In [ ]:
# fungsi berikut menerima parameter berupa String
def sayHello(name):
  print(f"hello {name}")

## Latihan
Ubah baris berikut menjadi comment pada bagian yang seharusnya menjadi comment

In [ ]:
# berikut ini adalah data diri pengguna
name = "Ichsan"
address = "Jl. Hang Lekiu No.2, Sambau, Kecamatan Nongsa, Kota Batam, Kepulauan Riau 29465"


# berikut ini merupakan fungsi untuk menjumlahkan nilai "a" dan "b"
def add(a,b):
  return a+b

# **D. Variabel**
Variabel adalah nama yang mewakili sebuah data
Sebuah variabel dapat memiliki nama pendek (seperti x dan y) atau nama yang lebih deskriptif. Aturan untuk variabel Python:


*   Nama variabel harus dimulai dengan huruf atau karakter garis bawah
*   Nama variabel tidak boleh diawali dengan angka

*   Nama variabel hanya boleh berisi karakter alfanumerik dan garis bawah (A-z, 0-9, dan (_)
*   Nama variabel sensitif huruf besar/kecil (**usia**, **Usia**, dan **USIA** adalah tiga variabel berbeda)

In [ ]:
# contoh variabel yang benar
NAMA = "Ichsan Takwa"
No_hp = "+6285_______"
Alamat = "Jl. Hang Lekiu No.2 _____________"
jenisKelamin = "laki laki"
_status = "belum menikah"
__NIK = 73080_________
hobi1 = "Coding"
hobi_2 = "Futsal"

## Latihan
buat data diri kamu seperti contoh diatas

In [ ]:
#nama

#no_HP

#alamat

#jenis kelamin

#status

#hobi

## **Cara Penggunaan Google Colab !!**

**klik tanda 🔽 untuk expand program**
> contoh: 🔽 A. Identifier

**cara menjalankan program:**
* klik  icon ▶️ di bagian sudut kiri atas
* Ketik Cmd/Ctrl+Enter untuk menjalankan sel di tempatnya;
* Ketik Shift+Enter untuk menjalankan sel dan memindahkan fokus ke sel berikutnya (menambahkan satu jika tidak ada);
* Ketik Alt+Enter untuk menjalankan sel dan menyisipkan sel kode baru tepat di bawahnya.
* note : biasanya running pertama kali agak lama



<font color="yellow" size=4>
Silahkan pelajari programnya, BOLEH diubah-ubah isinya. Tidak akan berpengaruh ke file asli, reload page untuk mengembalikan file semula.

# **E. Data Types**
Variabel adalah nama yang didefinisikan untuk menampung data dengan  tipe data tertentu. Data pada variabel dapat diganti dengan data lain. Berikut tipe data pada python:


| Tipe Data        | simbol |   Jenis    | Deskripsi  |
| ---------------- | ------ | ---------- | ---------- |
| string (str)     |   ""   | Teks       | data dapat berupa teks/kalimat/paragraf yang di apit dengan tanda petik satu '' atau petik dua " ", seperti 'sayuran' atau "buah buahan" |
| integer (int)    |        | Numerik    | data berupa bilangan bulat (tidak ada angka di belakang koma), seperti 2 100 870 8723847  |
| float            |   .    | Numerik    | data berupa bilangan desimal (memiliki angka di belakang koma) , seperti 3.14 2.71828 99.7 8723847.181 |
| complex          |  j y   | Numerik    | data berupa bilangan kompleks seperti 200j |
| list             |   []   | Rentetan   | berisi rentetan data (dapat berupa tipe data apa saja) yang diapit oleh tanda kurung siku [ ] dan elemennya dipisah danda koma ',' , seperti ["apel", "nasi"] |
| tuple            |   ()   | Rentetan   | berisi rentetan data (dapat berupa tipe data apa saja) yang diapit oleh tanda kurung ( ) dan elemennya dipisah danda koma ',', namun elemennya tidak dapat diubah, seperti ("apel", "nasi") |
| dictionary (dict)|   {:}  | Rentetan   | berisi data yang tiap datanya diwakili oleh "key" untuk mengakses data tersebut, elemen nya diapit tanda kurung kurawal {}, seperti {"nama":"Ichsan", "kota asal": "Makassar", "kampus" : "Universitas Hasanuddin"} |  
| range            | range()| Rentetan   | berisi rentetan yang berurutan dari kecil ke besar atau besar ke kecil dengan rentang tertentu, seperti (1,2,3,4,5,6,7) |          
| Boolean (bool)   |        | Boolean    | hanya memiliki dua nilai yang merepresentasikan Benar (True) atau Salah (False)  |            
| bytes            |        | Biner      |            |            
| bytesarray       |        | Biner      |            |            
| memoryview       |        | Biner      |            |            
| NoneType         |        | Tak bernilai| untuk merepresentasikan nilai yang tidak ada |           




Ingat... koma secara internasional menggunakan simbol titik

3.14 adalah 3,14

In [ ]:
str1 = "Thanos S.Pd." # string
str2 = 'Hulk S.Ked.' # string

int1 = 20    # int
int2 = -102  # int

flt1 = 3.14  # float
flt2 = 2.71  # float

bool1 = True # boolean
bool2 = False # boolean

cpx1 = 2j  # complex

# byt = bytes(10) # bytes
# bytarr = bytearray(10) # bytearray
# memvw = memoryview(bytes(10)) # memoryview

hewan = ['kuda' ,'sapi', 'kucing','rakun'] # list

days = ( "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday") #tuple

nol_sampai_sepuluh = range(10) # range

user = {'nama' : 'thoriq', 'usia': 20} #dict

member = {'tobi','tono','thoriq'} # set

frst = frozenset({'tobi','tono','thoriq'}) # frozenset

none = None # NoneType

print( int1, flt1) # ubah 'int1, flt1' dengan variabel apa saja diatas untuk melihat hasilnya

20 3.14

## Latihan
lengkapi kode berikut sesuai tipedata yang diminta

## Tipe data rentetan/koleksi
Tipe data koleksi adalah jenis tipe data yang dapat menampung banyak data dalam satu variabel, berikut perbedaan list, tupple, dan set:

![image.png]()

#### Latihan
Lengkapi kode berikut berdasarkan instruksi yang diminta

In [ ]:
nama = ...
usia = ...
berat_badan = ...  # berikan angka dibelakang koma .
film_favorit = ... # berupa list
sudah_menikah = ... # benar/salah

### List
list adalah tipe data rentetan/koleksi dalam python yang dapat diubah isinya, terurut, dan dapat diakses.

In [ ]:
# membuat list
buah = ["apel", "nangka", "pepaya", "avocado"]
#indeks  0        1          2          3

#mengakses isi list berdasarkan indeksnya
print("index ke 1 adalah ", buah[1] )

#mengakses dengan slicing
print("index 0 dan 1 buah, ", buah[0:2] ) # item indeks ke 2 tidak di sertakan (hanya 0 dan 1)
print("index 1 dan 2 buah, ", buah[1:3] ) # item indeks ke 3 tidak di sertakan (hanya 1 dan 2)

#mengganti isi list
buah[2] = "kedondong"

#mengakses semua isi buah
print("semua isi buah", buah)

nangka
index 0 dan 1 buah,  ['apel', 'nangka']
index 1 dan 2 buah,  ['nangka', 'pepaya']
semua isi buah ['apel', 'nangka', 'kedondong', 'avocado']

In [ ]:
# membuat list
makanan = ["bubur ayam", "nasi padang", "ikan goreng", "sop ayam"]
#indeks  0        1          2              3               4

# TODO : cetak data indeks ke 2 makanan
print("index ke 2 adalah ", ... )

# TODO : cetak data indeks ke 1 sampai 3 makanan
print("index 1 sampai 3 makanan, ", ... )

# TODO : mengganti isi list index ke 4 menjadi "sop ikan"
makanan[...] = ...

# mengakses semua isi makanan
print("semua isi buah", makanan)

### Tuple

Tuple adalah tipe data rentetan/koleksi dalam python yang terurut, dan dapat diakses, namun tidak dapat diubah isinya.

In [ ]:
# membuat tuple
hari = ("senin", "selasa", "rabu", "kamis", "jumat", "sabtu", "minggu")
#indeks    0        1        2        3        4        5        6

#mengakses isi list berdasarkan indeksnya
print("index ke 1 adalah ", hari[1] )

#mengakses dengan slicing
print("index 0 dan 1 hari, ", hari[0:2] ) # item indeks ke 2 tidak di sertakan (hanya 0 dan 1)
print("index 1 dan 2 hari, ", hari[1:3] ) # item indeks ke 3 tidak di sertakan (hanya 1 dan 2)

#mengganti isi list
# hari[2] = "kedondong" # isi tuple tidak dapat diubah

#mengakses semua isi buah
print("semua isi hari", hari)

selasa
index 0 dan 1 hari,  ('senin', 'selasa')
index 1 dan 2 hari,  ('selasa', 'rabu')
semua isi hari ('senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu')

### Set
Set adalah tipedata dalam python yang isinya dapat diubah namun tidak dapat diakses pada indeks tertentu, set juga tidak dapat menyimpan data yang sama

In [ ]:
#membuat set
penerima_bansos = {"bambang", "joko", "mamat", "tegar", "bambang"}

print(penerima_bansos)

{'mamat', 'tegar', 'joko', 'bambang'}

#### Latihan
Lengkapi kode berikut berdasarkan instruksi yang diminta

# **F.	 Operators**
Operator pada Pemrograman Python dapat disimbolkan dengan tanda atau karakter seperti +, -, *, /, **, % dan sebagainya

**Operator Aritmatika**

* ' + '	Penjumlahan
* ' - '	Pengurangan
* ' * '	Perkalian
* ' / '	Pembagian
* ' // '	Pembagian (dibulatkan kebawah)
* ' % '	Sisa Bagi / Modulo

In [ ]:
a = 10
b = 6

jumlah = a + b
kurang = a - b
bagi = a / b
bagi_pembulatan = a // b
kali = a * b
modulo = b % a

# print nilai variabel-variabel diatas
print( 100*0.2 ) # 100 x 0.2 = 20.0; tipedata: foat

20.0

**Operator Pembanding**

* ' > '	Lebih Besar
* ' < '	Lebih Kecil
* ' == '	Sama Dengan
* ' != '	Tidak Sama dengan
* ' >= '	Besar Sama dengan
* ' <= '	Lebih Kecil Sama dengan

In [ ]:
print( 100 > 120) # False (salah); typedata : bool/boolean

False

**Operator Penugasan**

* ' = '	Assignment
* ' += '	Penjumlahan
* ' -= '	Pengurangan
* ' *= '	Perkalian
* ' /= '	Pembagian
* ' //= '	Pembagian (dibulatkan kebawah)
* ' %= '	Sisa Bagi / Modulo

In [ ]:
a = 12
a /= 3
print(a)

4.0

**Operator Logical**

* ' and '	dan
* ' or '	atau
* ' not '	ingkaran/negasi

In [ ]:
a = 12 > 10
b = 2 == 2

x = a and b

print(' a:',a,'\n b:', b, '\n a and b:',x) # \n = baris baru

 a: True
 b: True
 a and b: True

In [ ]:
a = 12 > 10
b = 2 == 2

x = a and b
y = not x
print(' a:',a,'\n b:', b, '\n a and b:',x, '\n not x:',y) # \n = baris baru

 a: True
 b: True
 a and b: True
 not x: False

**Operator Keanggotaan**

* ' in '	Menghasilkan nilai TRUE jika nilai yang ditentukan berada dalam objek tertentu
* ' not in '	Menghasilkan nilai TRUE jika nilai yang ditentukan tidak ada dalam objek tertentu

In [ ]:
hewan = ["kuda", "kucing","sapi",'rakun']
x = 'sapi' in hewan # dibaca : apakah sapi ada di dalam list hewan? (ada = True)

print("apakah terdapat 'sapi' di ls?", x)

apakah terdapat 'sapi' di ls? True

**Operator Identitas**

* is	menghasilkan nilai TRUE jika kedua nilai memiliki identitas yang sama.
* not is	menghasilkan nilai FALSE jika kedua nilai memiliki identitas yang sama.

In [ ]:
a = 41

x = a is 41

print("a adalah 41?? ", x)

a adalah 41??  True

**Operator Bitwise**

* ' &	' and
* ' |	' or
* ' ^	' xor
* ' ~	' not
* ' <<	' left shift
* ' >>	' right shift


referensi : https://realpython.com/python-bitwise-operators/

In [ ]:
a = 5   #   101
b = 22  # 10110
        #   100
        # digit ke-1 nilai bit dari '5' dan digit ke-3 nilai bit dari '22' sama sama bernilai 1 shg
x =  a & b # 100 dlm desimal: 4
print(x)

4

In [ ]:
a = 10  # 1010
x = a<<3  # shift left 3x
          # 1010000 : dlm desimal = 80
print(x)

80

**Operator Precedence**

Operator Precedence adalah operator yang membarikan lebih dari satu penugasan dalam satu statement.

In [ ]:
a,b,c = 1,2,3

print('a:', a, '\nb:',b, '\nc:',c)  # \n = baris baru

a: 1
b: 2
c: 3

**Operator Associativity**

Operator Associativity adalah operator dalam python yang dapat menggabungkan lebih dari satu operator aritmatika.

In [ ]:
x = (205-100) / 5**2 *5  # (105) / 25 * 5
print(x)

21.0

# **G.	Statements**
Statement adalah pernyataan atau instruksi yang diberikan untuk dieksekusi oleh mesin.

In [ ]:
a = 12 # adalah statement\
a = a + 12 # adalah statement
b = '24'
if a != b:                      #
  print('a dan b tidak sama')   # dua baris ini dianggap satu statement

a dan b tidak sama

# **H. Expression**
Expressions adalah kombinasi dari operator yang diinterpretasikan untuk menghasilkan beberapa nilai lain.

**Constant Expression**

Constant Expressions adalah ekspresi yang hanya memiliki nilai konstan.

In [ ]:
PHI = 3.14
GRAVITY = 9.8
jumlah = 14
_alamat = "jl.pisang"

print(PHI, GRAVITY, jumlah, _alamat)

**Arithmetic Expressions**

Ekspresi aritmatika adalah kombinasi dari nilai numerik, operator, dan terkadang tanda kurung

In [ ]:
a = 2*(12+6)
b = 5**2

print(a,b)

36 25

**Integer Expressions**

ekspresi bilangan bulat adalah jenis ekspresi yang hanya menghasilkan hasil bilangan bulat setelah semua perhitungan dan konversi tipe datanya.

In [ ]:
x = 120
y = 1
z = int(10.123)

print(x,y,z)

120 1 10

**Floating Expressions**

Ekspresi bilangan desimal adalah jenis ekspresi yang menghasilkan angka floating point sebagai hasil setelah semua perhitungan dan konversi tipe datanya.

In [ ]:
x = 3/2
y = 2.17
z = float("2.71828")

print(" x:",x, "\n y:",y, "\n z:",z) # \n digunakan untuk mencetak output di baris baru

 x: 1.5
 y: 2.17
 z: 2.71828

**Relational Expressions**

Ekspresi relasi ditulis di kedua sisi operator relasional (>, < , >= , <=).

In [ ]:
a =  (100+2) > (90+10) # True
b =  (22/2) <= (2*5) # False
c =  (2+2) == (2*2) # True

print('a :', a, 'b:', b,'c :', c)

a : True b: False c : True

**Logical Expressions**

Ekspresi logika adalah jenis ekspresi yang menghasilkan True atau False. Ini pada dasarnya menentukan satu atau lebih kondisi

In [ ]:
a = 10 == 9 # False
b = 132 > 100 # True

print('a :', a, 'b:', b)

a : False b: True

**Bitwise Expressions**

Ekspresi bitwise adalah jenis ekspresi dimana perhitungan dilakukan pada tingkat bit.

In [ ]:
a = 5 & 22 #  4
b = 5 | 22 # 23
c = 102 << 4 # 1632
d = ~400 # -401

print('a :', a, 'b:', b, 'c :', c, 'd:', d)

a : 4 b: 23 c : 1632 d: -401

**Combinational Expressions**

Ekspresi kombinasi adalah jenis ekspresi dengan menggabungkan berbagai ekspresi kemudain menjadikan satu ekspresi.

In [ ]:
x = (200 + 3) - (6 << 1) # 191
y = (200 & 160) / 4  # 32

print('x :', x, 'y:', y)

x : 191 y: 32.0

# **I. Konversi/Casting Tipe Data**

In [ ]:
a = '10' # string
print(type(a), a)

<class 'str'> 10

In [ ]:
a = '10' # string
b = int(a) # string ke int

print(type(b), b)

<class 'int'> 10

In [ ]:
a = '10.45' # string
b = float(a) # string ke float
print(type(b), b)

<class 'float'> 10.45

# **J. User Input**

menerima data langsung dari input keyboard saat program dijalankan dengan tipe default 'string'

In [ ]:
nama = input("Siapa namamu? ")
print("hallo", nama, "apa kabar?")

Siapa namamu? Ichsan
hallo Ichsan apa kabar?

In [ ]:
#program hitung keliling persegi
sisi = int(input("Masukkan panjang sisi? ")) # input bertipe string, harus dikonversi ke int
                                             #  agar dapat dioperasikan menggunakan operasi artematik
hasil = 4*sisi
print("keliling persegi: ", hasil)

Masukkan panjang sisi? 12
keliling persegi:  48

# Tantangan
Selesaikan persoalan berikut menggunakan bahasa pemrograman python

#### Soal 1
> Buatlah kode yang dapat menghitung luas segitiga jika diketahui rumus luas segitiga adalah 1/2 alas * tinggi

In [ ]:
# TODO : Selesaikan...
alas = float(input("alas segitiga: "))
tinggi = float(input("tinggi segitiga: "))

luas = 0.5*alas*tinggi

print("luas persegi panjang : ", luas)

#### Soal 2
> Buatlah sebuah kode yang dapat menghitung luas persegi panjang, jika diketahui rumus persegi panjang adalah panjang x lebar

In [ ]:
# TODO : Selesaikan...

#### Soal 3
Buatlah kode yang dapat menghitung nilai rata-rata siswa berikut

| Pelajaran        | Nilai |
|------------------|-------|
| Bahasa indonesia | 90    |
| Kewarganegaraan  | 87.2  |
| Agama            | 91.8  |
| IPA              | 72.5  |

In [ ]:
# TODO : Selesaikan...

a = {1,2,3,4}
b = {2,3}

print (a.symmetric_difference(b))

{1, 4}

# **Referensi Belajar Python:**

YOUTUBE :
* IDN https://www.youtube.com/playlist?list=PLZS-MHyEIRo59lUBwU-XHH7Ymmb04ffOY
* IDN https://www.youtube.com/playlist?list=PL-CtdCApEFH_HY6bL3JER8WJOxz1nb3_H
* ENG https://www.youtube.com/watch?v=_uQrJ0TkZlc&t=1028s
* ENG https://www.youtube.com/watch?v=rfscVS0vtbw&t=938s

WEBSITE :
* IDN https://www.petanikode.com/tutorial/python/
* ENG https://www.w3schools.com/python/
* ENG https://www.programiz.com/python-programming

# Author(s)

**Ichsan Takwa** adalah seorang mentor program Advanced AI di Infinite Learning yang berfokus pada pengembangan talenta di bidang kecerdasan buatan.Saat ini menempuh pendidikan di semester 8 Jurusan Sistem Informasi Universitas Hasanuddin.

| Date (YYYY-MM-DD) | Version | Changed By  | Change Description |
| ----------------- | ------- | ----------- | ------------------ |
| 2022-09-09        | 0.1     | Ichsan Takwa| Created            |
| 2024-03-13        | 0.2     | Ichsan Takwa| Exercise added     |